<!--partial template for navigation bar-->

<div>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark " style="background: black;">
      <a class="navbar-brand" href="#">
        <img src="/css/bot.png" height="40" style="border-radius: 100px;" class="d-inline-block align-top" alt=""
          loading="lazy">
        <h5>Covid HElper</h5>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"><b>Home </b><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index"><b>Chatbot</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/countryStats"><b>Covid Stats</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news"><b>News</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="IndiaStats"><b>Country Stats</b></a>
          </li>
          
        </ul>

  
      </div>
    </nav>
  </div>