<!--template for home page-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap"
      rel="stylesheet"
    />

<<<<<<< HEAD
    <link rel="stylesheet" href="css/home.css" type="text/css" />
  </head>

  <body>
    <%- include ('partials/nav') %>
=======
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/home.css" type="text/css">
</head>
>>>>>>> 20e484cae68d9ceb2cd0d4cd680f177dffe9c987

    <div class="container">
      <div class="row" id="chat-botCard">
        <div class="col" style="padding-top: 50px">
          <div class="card w-150" id="col1">
            <div class="card-body">
              <h2 class="card-title"><b>Connect With Us</b></h2>
              <p class="card-text">
                At such times of chaos,we are here to solve your queries and
                doubts 24/7
              </p>
              <h6>
                With the spread of COVID-19 across the world, there is a sense
                of panic and uncertainty amongst the public. Are not sure what
                measures to take to safeguard themselves and your family and
                have many questions??
              </h6>
              <h6>
                Don't worry!! Collabo-VID is here to answer all your queries
                related to COVID-19, based on the data we collected from various
                official sites.
              </h6>
              <a href="/index"
                ><img
                  src="/images/bot.png"
                  class="img-fluid"
                  style="
                    border-radius: 50%;
                    height: 80px;
                    width: 80px;
                    box-shadow: 0 5px 10px rgb(161, 113, 250);
                  "
              /></a>
            </div>
          </div>
        </div>
        <div class="col">
          <img src="\css3\img\vani-gif.gif" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/home2.jpg" class="img-fluid" alt="..." />
        </div>
        <div class="col">
          <div class="card w-150" id="col1">
            <div class="card-body">
              <h2 class="card-title"><b>Stay Updated</b></h2>
              <p class="card-text">Trust what is true and reliable</p>
              <p>
                Rumors, myths and misinformation about COVID-19 have
                spread as quickly as the virus itself. Keep yourself updated with What's really happening around the globe.
                Content presented here relies on most trusted and reliable resources.
              </p>
              <a href="/news"
                ><button type="button" class="btn btn-outline-dark">
                  News
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card w-150" id="col1">
            <div class="card-body">
              <h2 class="card-title"><b>See Recent Covid Stats</b></h2>
              <p class="card-text">Know your surroundings</p>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi,
                doloremque. Nostrum sunt similique officia, vitae eligendi
                debitis consequatur necessitatibus animi illum ipsam et ipsum
                natus magnam odio aliquam adipisci in!
              </p>
              <a href="/IndiaStats"
                ><button type="button" class="btn btn-outline-dark">
                  Look around the Globe
                </button></a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <img src="/images/home3.jpg" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
<<<<<<< HEAD
  </body>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>
</html>
=======
  </div>

  <a href="/index"><img src="/images/bot.png" class="img-fluid" style="border-radius: 50%; 
    border:3px solid black; height:70px ;width:70px;
     box-shadow: 7px 5px 10px rgb(161, 113, 250);
     position: fixed;
  bottom: 9px;
  right: 50px;"></a>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
>>>>>>> 20e484cae68d9ceb2cd0d4cd680f177dffe9c987
