#chat-botCard{
    padding: 20px;
}
#col1
{
    padding: 8px;
    box-shadow: 0 5px 11px rgb(195, 126, 252);
    border-radius: 50px;
    align-items: center;
    font-family: cursive;
    align-content: center;
    
  }
  #col1:hover{
  transform: scale(1.1); 
}


/*for news*/
.wrapper {
  padding: 0 1rem;
}

.news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 2rem;
}

.news__card {
  text-decoration: none;
  color: #080808;
  background-color: #fff;
  padding: 20px;
}

.news__card:hover {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}
.newsbody{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f6f6f6;
}

.newsImg {
  max-width: 100%;
}

.newsh2 {
  font-size: 1.6rem;
}
